gym~=0.19.0
numpy~=1.21.2
torch~=1.9.1
torchsummary~=1.5.1
stable_baselines3
pyyaml~=5.4.1
tensorboard
git+ssh://git@github.com:cerebro-ai/lux-python-env.git
wandb~=0.12.4
pettingzoo~=1.12.0
torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.9.0+cpu.html
tqdm~=4.62.3
loguru~=0.5.3
ray~=1.7.0
networkx~=2.6.3
configparser~=5.0.2
omegaconf~=2.1.1
setuptools~=47.1.0
hydra-core