gym
numpy
torch
torchsummary
stable_baselines3
pyyaml
tensorboard
git+ssh://git@github.com:cerebro-ai/lux-python-env.git
wandb
pettingzoo
torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.9.0+cpu.html